# created by virtualenv automatically
*

# 許可
!/prog/
!/prog/**
!/README.md
!/requirements.txt
!/.gitignore
!/orange/
!/orange/lib/
!/orange/lib/**
!/orange/pubspec.yaml
!/apple/
!/apple/lib/
!/apple/lib/**
!/apple/pubspec.yaml
!/apple/test/
!/apple/test/**
!/grape/
!/grape/**

# 禁止
__pycache__